@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 40px 100px;
    z-index: 10000;
}

header .logo {
    position: relative;
    font-size: 2em;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    color: #fff;
}

header .logo span {
    color: green;
}

.toggle {
    max-width: 60px;
    cursor: pointer;
}

.toggle img {
    width: 100%;
}

.banner {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: #111;
    padding: 0 100px;
}

.banner .contentBox {
    position: absolute;
    max-width: 600px;
    z-index: 2;
}

.banner .contentBox h2 {
    font-size: 3em;
    font-weight: 700;
    color: #fff;
    letter-spacing: 2px;
}