@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 40px 100px;
    z-index: 10000;
}

header .logo {
    position: relative;
    font-size: 2em;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    color: #fff;
}

header .logo span {
    color: #38d530;
}

.toggle {
    max-width: 60px;
    cursor: pointer;
}

.toggle img {
    width: 100%;
}

.banner {
    position: relative;
    max-width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: #111;
    padding: 0 100px;
}

.banner::before {
    content: '';
    right: 169px;
    top: 0;
    position: absolute;
    height: 100%;
    width: 400px;
    background: #38d530;
    transform: skewX(-20deg);
    z-index: 2;
}

.banner .contentBox {
    position: relative;
    max-width: 600px;
    z-index: 2;
}

.banner .contentBox h2 {
    font-size: 3em;
    font-weight: 700;
    color: #fff;
}

.banner .contentBox p {
    font-size: 1.2;
    font-weight: 500;
    color: #fff;
    margin: 20px 0px 35px;
}

.banner .contentBox a {
    position: absolute;
    display: inline-block;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #111;
    background: #fff;
    font-weight: 700;
    padding: 10px 25px;
}

.banner .contentBoxImg {
    position: absolute;
    height: 100vh;
    width: 50%;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.banner .contentBoxImg img {
    height: 90%;
    position: absolute;
    bottom: 0;
    z-index: 1000;
}

.sci {
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sci li {
    list-style: none;
}

.sci li a {
    position: relative;
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
}

.sci li a img {
    transform: scale(0.5);
    filter: invert(1);
}
